
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Kiểm tra xe OUTLANDER & XPANDER thuộc diện triệu hồi thay thế bơm xăng T1/2021</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-1.11.2.js"></script>
    <script src="../static/js/signUp.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Kiểm tra xe OUTLANDER & XPANDER thuộc diện triệu hồi thay thế bơm xăng T1/2021</h1>
        <form class="form-signin">
        <label for="vinNumber" class="sr-only">Số vin</label>
        <input type="name" name="vinNumber" id="vinNumber" class="form-control" placeholder="Số vin" required autofocus>
            <p></p>
        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Kiểm tra</button>
      </form>
          <p>Thông tin kiểm tra được lấy từ website của: <a target="_blank" rel="noopener noreferrer" href="https://www.mitsubishi-motors.com.vn/tin-tuc/thong-bao-trieu-hoi-mau-xe-outlander-038-xpander-de-kiem-tra-va-thay-the-bom-xang-n68383.html">MITSUBISHI MOTORS VIỆT NAM</a></p>
      </div>
      <footer class="footer">
        <p></p>
      </footer>
    </div>
  </body>
</html>

